
.vs/
*bin/
*obj/
DotNetCCompiler/.vs/**/**/**/
DotNetCCompiler/DotNetCCompiler/bin/**/
DotNetCCompiler/DotNetCCompiler/obj/**/
DotNetCCompiler/.vs/DotNetCCompiler/v16/.suo
DotNetCCompiler/DotNetCCompiler/obj/Debug/netcoreapp3.0/DotNetCCompiler.assets.cache
DotNetCCompiler/DotNetCCompiler/obj/Debug/netcoreapp3.0/DotNetCCompiler.csproj.FileListAbsolute.txt
DotNetCCompiler/DotNetCCompiler/obj/Debug/netcoreapp3.0/DotNetCCompiler.assets.cache
DotNetCCompiler/DotNetCCompiler/obj/Debug/netcoreapp3.0/DotNetCCompiler.csproj.FileListAbsolute.txt
DotNetCCompiler/.vs/DotNetCCompiler/v16/.suo
